<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>localhost</display-name>
 
 <!-- log4j2 환경 정보 시작  -->
	<context-param>
        <param-name>log4jConfiguration</param-name>
        <param-value>/WEB-INF/config/log4j2.xml</param-value>
    </context-param>   
	<!-- log4j2 환경 정보 종료  -->

	   <!-- HTTP Encoding Filter 시작 -->
    <filter>
          <filter-name>httpEncodingFilter</filter-name>
          <filter-class>com.icia.web.filter.HttpEncodingFilter</filter-class>            
           <init-param>
                <param-name>encoding</param-name>
                <param-value>UTF-8</param-value>
           </init-param>
    </filter>
    <!-- HTTP Encoding Filter 종료 -->
    
    <!-- 사용자 인증 체크 Filter 시작 -->
    <filter>
          <filter-name>urlUserAuthFilter</filter-name>
          <filter-class>com.icia.web.filter.UrlUserAuthFilter</filter-class>            
           <init-param>
                <param-name>authUrl</param-name>
                <param-value>/board</param-value> <!-- 콤마(,) 구분으로 여러개 등록가능 ex) /board,/user -->
           </init-param>
    </filter>
    <!-- 사용자 인증 체크 Filter 종료 -->
    
    <!-- HTTP Encoding Filter Mapping 시작 --> 
    <filter-mapping>
        <filter-name>httpEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- HTTP Encoding Filter Mapping 종료 --> 
    
    <!-- 사용자 인증 체크 Filter Mapping 시작 -->
    <filter-mapping>
        <filter-name>urlUserAuthFilter</filter-name>
        <url-pattern>*.jsp</url-pattern> <!-- 모든 jsp 파일  -->
    </filter-mapping>
    <!-- 사용자 인증 체크 Filter Mapping 종료 -->
    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>